<!-- Created by Mahpara Rafia Radmy - 301176893 - 11 October, 2021 -->
<script src="jquery/dist/jquery.slim.min.js"></script>
<script src="bootstrap/dist/bootstrap.min.js"></script>
<script src="javascripts/app.js"></script>


<footer class="footer">
    
    <ul class="logo-list">
        <li class="logo-item">
            <a class="logo-link" href=" http://linkedin.com/in/mahpara-rafia-radmy-094187207">
                <i class="fab fa-linkedin"></i>
            </a>
         </li>
        <li class="logo-item">
             <a class="logo-link" href="https://github.com/MRRadmy/expressjsportfolio">
                 <i class="fab fa-github"></i>
             </a>
         </li>
         <li class="logo-item">
             <a class="logo-link" href="https://www.instagram.com/radmyhossain">
                 <i class="fab fa-instagram"></i>
             </a>
         </li>
         <li class="logo-item">
            <a class="logo-link" href="https://www.facebook.com/mahpararafia.radmy">
                <i class="fab fa-facebook"></i>
            </a>
        </li>
     </ul>
    <b> <p id="copyright">Copyright &copy;&nbsp;Mahpara Rafia Radmy - 301176893</b></p>
 </footer>

</body>
</html>
