<!-- Created by Mahpara Rafia Radmy - 301176893 - 11 October, 2021 -->

<% include partials/header.ejs %>

<!-- Name -->
<b><h1 class="title">Mahpara Rafia Radmy</h1></b>

<!-- Picture -->

<img src="/images/radmy3.jpg" alt="My photo" class="photo">

<!-- Summary about me  -->
<div class="about-me">
  <ul id="aboutlist">
     <li>Currently I'm enrolled in the <b>Software Engineering Technology - Artificial Intelligence</b> at Centennial College.</li>
     <br>
     <li>I enjoy turning complex problems into simple, beautiful and intuitive designs and creating things that live on the internet.</li>
     <li><br>My main focus these days is building accessible, inclusive products and digital experiences at Upstatement for a variety of clients.</li>
    
     <li><br> Write modern, performant, maintainable code for a diverse array of client and internal projects.</li>
     <li> <br>  Work with a variety of different languages, platforms, frameworks, and content management systems such as JavaScript, HTML, CSS, Python, Java, C#, UNIX and SQL.</li>
    
     <!-- Resume -->
     <h4><li> <br> <b>My Resume is </b><a href="stylesheets/Resume.pdf"> here</a></li></h4>
  </ul>
</div>




<% include partials/footer.ejs %>