
<!-- Created by Mahpara Rafia Radmy - 301176893 - 11 October, 2021 -->
<%  include partials/header.ejs%>

 
<div class="mission">
  <h1><b>Mahpara Rafia Radmy </b></h1>
   <h2> <p>Welcome to my Portfolio</p></h2>
 <p> <h3>Mission Statement</p></h3>
  <p>I am and always will be a student. I will keep the beginners mind by playing and experimenting without the fear of failure. There will always be things I have to learn and I will make mistakes, which develop me.</p>
  <p>I am an optimist and a realist. I always apply this mission statement in good faith and to achieve great results together with my team.</p>

  
 </div>
 

  <script src="script.js"></script>


  <%  include partials/footer.ejs%>

