<!-- Created by Mahpara Rafia Radmy - 301176893 - 11 October, 2021 -->

<% include partials/header.ejs %>

<h1 class="services"><%= title %></h1>

<img src="/images/service1.jpg" class= "service photo" alt="service photo"  width="360" height="380"  />
<h3> Some Services that I can provide:</h3>

<!-- Services -->

    <ul><b>
      <li>C#</li>
      <li>PYTHON</li>
      <li>JAVA</li>
      <li>Unix/Linux</li>
    
    <li>HTML/CSS</li>
      <li>JavaScript</li>
      <li>SQL</li>
      <li>GIT</li>
    </b>
    </ul>
  </div>
</div>

<!-- Company Logos -->
<div class="logos">
  <img id="logo" src="/images/html.png">
  <img id="logo" src="/images/css.png">
  <img id="logo" src="/images/js.png">
  <img id="logo" src="/images/ubuntu.png">
  <img id="logo" src="/images/java.png">
  <img id="logo" src="/images/py.png">
  <img id="logo" src="/images/c.png">
  <img id="logo" src="/images/git.png">
</div>

<% include partials/footer.ejs %>